/* Header Star */
#wrapper {
  background-size: cover;
  height: auto;
  width: 100%;
}
#header {
  background-color: #fff;
}
#header .container {
  display: flex;
  max-width: 1100px;
  margin: 0px auto;
  height: 55px;
}

#cum-logo {
  display: flex;
}
#logo img {
  max-width: 90px;
  height: auto;
}
.name {
  color: white;
  font-weight: bolder;
  padding: 16px;
  font-size: 16px;
  color: rgb(222, 67, 20);
}
nav {
  display: flex;
  justify-content: space-between;
  justify-items: center;
}
#sreach-icons {
  font-size: 20px;
  color: white;
  margin-top: 8px;
  background-color: #f03b09cc;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  padding-left: 10px;
  padding-top: 10px;
}
#sreach-bars {
  display: none;
}
#sreach-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
#sreach-bar input {
  width: 70%;
  height: 50px;
  font-size: 20px;
  background-color: #f03b09cc;
  border-radius: 25px;
  color: white;
}
#sreach-bar input::placeholder {
  color: white;
  padding-left: 10px;
  font-size: 15px;
}
#sreach-bar a {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #f03b09cc;
}
#sreach-bar i {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: white;
  margin-top: 15px;
}

#bar {
  display: none;
  text-align: right;
  cursor: pointer;
}

#main-menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Tạo cho li cha một cái position làm chuẩn */
#main-menu li {
  position: relative;
}

#main-menu li a {
  color: #f00;
  display: block;
  padding: 16px 20px;
  font-size: 20px;
  text-decoration: none;
}

#main-menu ul.sub-menu {
  position: absolute;
  background-color: #0000;
  width: 180px;
  list-style: none;
  padding: 0px;
  border: 1px solid rgb(82, 63, 31);
  display: none; /* giúp ẩn cái menu con */
}

/* khi chỉ chuột tới li thì sẽ hiện menu cấp trực tiếp của nó  */
#main-menu li:hover > ul.sub-menu {
  display: block;
}

/* tác động vào các thẻ a nằm trong cái ul.sub-menu */
#main-menu ul.sub-menu a {
  background-color: #f2f2f4;
  padding: 5px 15px;
  font-size: 20px;
  border-bottom: 1.5px solid rgb(82, 63, 31);
}

/* làm mất boder bottom của li cuối cùng(li:last-child) */
#main-menu ul.sub-menu li:last-child a {
  border: none;
}

/* tạo hover */
#main-menu ul.sub-menu li:hover a {
  font-size: 25px;
  color: rgb(222, 67, 20);
  border-bottom: 1.5px solid rgb(24, 18, 7);
}

/*  */
/*  */ /*  */
/* Tạo thanh trượt điểm nhấn cho header */
/*  */ /*  */
/*  */
#main-menu > li > a {
  position: relative;
}
#main-menu > li > a::before {
  content: "";
  height: 3px;
  width: 0px;
  background: rgb(222, 67, 20);
  bottom: 0px;
  left: 0px;
  position: absolute;
  transition: 0.4s cubic-bezier(0.075, 0.82, 0.165, 1); /* tạo độ chậm hiệu ứng */
}

#main-menu > li:hover > a::before {
  width: 100%;
  color: rgb(222, 67, 20);
}
#intro-img {
  position: relative;
  z-index: -1;
  margin-top: -60px;
  padding-top: 50%;
  background-image: url(../img/0headerrr.jpg);
  background-size: cover;
}
.text-img {
  position: absolute;
  color: #ffff;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  flex-direction: column;
  line-height: 35px;
  left: 50%;
  transform: translateX(-50%);
}
.text-img > h1 {
  word-spacing: 15px;
  -webkit-mediaanimation: my 2s infinite;
  -moz-animation: my 2s infinite;
  -o-animation: my 2s infinite;
  animation: my 2s infinite;
}
@-webkit-keyframes my {
  0% {
    color: #de4314;
  }
  50% {
    color: #fff;
  }
  100% {
    color: rgb(222, 67, 20);
  }
}
@-moz-keyframes my {
  0% {
    color: hsl(14, 83%, 47%);
  }
  50% {
    color: #fff;
  }
  100% {
    color: hsl(14, 83%, 47%);
  }
}
@-o-keyframes my {
  0% {
    color: #de4314;
  }
  50% {
    color: #fff;
  }
  100% {
    color: rgb(222, 67, 20);
  }
}
@keyframes my {
  0% {
    color: rgb(222, 67, 20);
  }
  50% {
    color: #fff;
  }
  100% {
    color: rgb(222, 67, 20);
  }
}
.text-img > h2 {
  word-spacing: 10px;
}
.text-img:hover h1 {
  color: rgb(222, 67, 20);
}

/* Header End */

#khung-bao-ngoai {
  display: flex;
  background-color: lightgrey;
}

/* Thông tin */

/* Thực phẩm */
#khung-bao-ngoai .thongtin {
  flex-basis: 70%;
  width: 100%;
  align-self: center;
  margin: auto;
}

#khung-bao-ngoai .thongtin .thucpham .thanhphan {
  display: flex;
  width: 100%;
}

#khung-bao-ngoai .thucpham .thanhphan {
  flex-basis: 33.3%;
  display: block;
  border-left: 2px solid #f03b09cc;
}

#khung-bao-ngoai .thongtin .thucpham .thanhphan .row1,
#khung-bao-ngoai .thongtin .thucpham .thanhphan .row2,
#khung-bao-ngoai .thongtin .thucpham .thanhphan .row3 {
  background-color: rgb(255, 203, 186);
}

#khung-bao-ngoai .thucpham .thanhphan .column1 img,
#khung-bao-ngoai .thucpham .thanhphan .column2 img,
#khung-bao-ngoai .thucpham .thanhphan .column3 img {
  width: 200px;
  height: 200px;
  align-items: center;
  margin: auto;
  padding: 10px;
  justify-content: center;
  align-items: center;
  display: flex;
}

#khung-bao-ngoai h4 {
  color: #f03b09cc;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
}

#khung-bao-ngoai span {
  display: block;
  margin: 0px 20px;
  text-align: center;
  margin: 10px 10px;
}

/* đồng bộ cho cùng 1 hàng */
.row1 {
  border-top: 2px solid #f03b09cc;
}

.row1,
.row2,
.row3 {
  height: 400px;
  border-bottom: 2px solid #f03b09cc;
  border-right: 2px solid #f03b09cc;
}

#khung-bao-ngoai h2 {
  margin: 10px;
  text-align: center;
  color: #f03b09cc;
  background-color: rgb(70, 248, 153);
  padding: 20px;
  font-family: "Times New Roman", Times, serif;
  border-radius: 25px;
}

/* Thư giản */

.title-video {
  margin: 10px;
  padding: 10px;
  font-size: 20px;
  text-align: center;
  color: #f03b09cc;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: aquamarine;
  border-radius: 10px;
}

.video video {
  display: block;
  width: 80%;
  background-color: black;
  height: 600px;
  margin: 30px auto 30px auto;
}

/* Mục lục */
#mucluc {
  margin: 0px 10px;
  padding: 10px 10px;
  flex-basis: 20%;
  border-right: 5px solid #f2ecebcc;
  display: flex;
  color: #f03b09cc;
}

#mucluc .heading {
  font-size: 1.5rem;
}
#mucluc .heading h1 {
  font-family: "Times New Roman", Times, serif;
  width: 300px;
  font-size: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  box-shadow: 0 3px rgb(232, 55, 24);
}
#mucluc .heading .mucluc-list {
  padding-top: 15px;
  padding-left: 10px;
}

#mucluc .heading .mucluc-list a,
#mucluc .heading .mucluc-list .list-thucpham {
  display: block;
  list-style: disc;
  text-decoration: none;
  color: #000;
  padding-left: 10px;
}

/* Tiệm thú y */
.tiemthuy-list {
  width: 90%;
  margin: 0.5rem 0.5rem;
  background-color: rgb(149, 255, 149);
  border-radius: 0.5rem;
}

.tiemthuy-list h3 {
  text-align: center;
  color: rgb(49, 49, 197);
  font-size: 3rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  border: 0.8rem solid;
  border-radius: 0.5rem;
}

.tiemthuy-list img {
  width: 80%;
  border-radius: 3rem;
}

/* Câu hỏi vui */

form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide-wrap {
  background-color: aqua;
  padding: 3rem 2rem;
  border-radius: 10%;
}

.slide-wrap a {
  box-sizing: border-box;
  width: 0.5rem;
  font-size: 0.7rem;
  border-radius: 50%;
  padding: 0.4rem 0.4rem;
  background-color: brown;
  color: white;
  text-decoration: none;
}

.slide-btn {
  margin: 1rem 0rem;
}

.slide-wrap h2 {
  text-align: center;
  color: rebeccapurple;
}

.slider {
  border-radius: 2%;
  margin-top: 1rem;
  background: red;
  color: white;
  width: 370px;
  height: 350px;
  display: block;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
  -webkit-scroll-snap-points-x: repeat(300px);
  -ms-scroll-snap-points-x: repeat(300px);
  scroll-snap-points-x: repeat(300px);
  -webkit-scroll-snap-type: mandatory;
  -ms-scroll-snap-type: mandatory;
  scroll-snap-type: mandatory;
}

.slide {
  width: 350px;
  flex-shrink: 0;
}

.slide-content {
  width: 80%;
  margin: 10% 10%;
}

.slides > div:target {
  transform: scale(0.8);
}

.btn-submit {
  width: 40%;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Footer star */

footer {
  position: relative;
  width: 100%;
  height: 300px;
  padding: 50px 20px;
  background: #f03b09cc;
  display: flex;
  font-family: "roboto";
}

footer .container {
  display: flex;
  width: 100%;
}

footer .container img {
  width: 200px;
  height: fit-content;
  position: relative;
  margin-right: 30px;
}
/* Thiết lập phần giới thiệu */
footer .container .noi-dung {
  margin-right: 20px;
}
footer .container .noi-dung .about {
  width: 30%;
}
footer .container .noi-dung .about h2 {
  position: relative;
  color: white;
  font-weight: 500;
  margin-bottom: 15px;
}
footer .container .noi-dung .about h2:before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 50%;
  height: 2px;
  background: #f00;
}
footer .container .noi-dung .about p {
  color: black;
}

/* Thiết lập phần icon giới thiệu */

.social-icon {
  margin-top: 20px;
  display: flex;
}
.social-icon li {
  list-style: none;
}
.social-icon li a {
  display: inline-block;
  width: 40px;
  height: 40px;
  background: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  text-decoration: none;
  border-radius: 4px;
}
.social-icon li a:hover {
  background: #f00;
}
.social-icon li a .fa {
  color: rgb(138, 138, 138);
  font-size: 20px;
}
.links h2 {
  position: relative;
  color: #fff;
  font-weight: 500;
  margin-bottom: 15px;
}

/* Thiết lập phần đường dẫn */

.links h2 {
  position: relative;
  color: #fff;
  font-weight: 500;
  margin-bottom: 15px;
}
.links h2::before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 50%;
  height: 2px;
  background: #f00;
}
.links {
  position: relative;
  width: 25%;
}
.links ul {
  display: inline;
  padding-top: 10px;
}
.links ul li {
  list-style: none;
  padding-top: 8px;
}
.links ul li a {
  color: black;
  text-decoration: none;
  margin-bottom: 10px;
}
.links ul li a:hover {
  color: #fff;
}

/* Thiết lập phần thông tin liên hệ */
.noi-dung .contact {
  margin: 0px;
}
.contact h2 {
  position: relative;
  color: #fff;
  font-weight: 500;
  margin-bottom: 15px;
}
.contact h2::before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 50%;
  height: 2px;
  background: #f00;
}
.contact {
  width: 45%;
  margin-right: 0 !important;
}
.contact ul {
  display: inline;
  margin: 0px;
}
.contact .info {
  position: relative;
}
.contact .info li {
  display: flex;
  margin-bottom: 16px;
}
.contact .info li span:nth-child(1) {
  color: #fff;
  font-size: 20px;
  margin-right: 10px;
}
.contact .info li span {
  color: black;
}
.contact .info li a {
  color: black;
  text-decoration: none;
}

/* Footer end */

/* Nút back */

#back {
  text-decoration: none;
  color: white;
  width: 50px;
  height: 50px;
  background-color: #f03b09cc;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: fixed;
  bottom: 40px;
  right: 40px;
}

#back {
  text-decoration: none;
  color: white;
  width: 50px;
  height: 50px;
  background-color: #f03b09cc;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: fixed;
  bottom: 40px;
  right: 40px;
}

/* mobile */
@media only screen and (max-width: 739px) {
  #header {
    width: 100%;
    background-color: #fff;
  }
  #header .name {
    width: auto;
  }
  #header #cum-logo {
    width: 70%;
    height: auto;
    left: 0rem;
    margin-left: 0%;
    font-size: 0.5rem;
  }
  #main-menu {
    display: none;
    flex-direction: column;
    position: relative;
    height: 100%;
    background-color: #fff;
  }
  #main-menu li {
    background-color: #fff;
    display: inline;
  }
  #main-menu .sub-menu {
    top: 0rem;
    right: 9.9rem;
    color: #fff;
    z-index: 1;
  }
  #header-thugon {
    position: relative;
    width: 10rem;
    height: auto;
  }
  #header .icon {
    position: absolute;
    width: 4rem;
    height: 4rem;
    right: 0;
    top: 0;
  }
  #bar {
    display: inline-block;
    font-size: 1.5rem;
    padding: 0.5rem 0.5rem;
    color: #f03b09cc;
  }

  #intro-img {
    top: 3.8rem;
    text-align: center;
  }
  .text-img h2 {
    display: none;
  }

  /* content */

  .row1,
  .row2,
  .row3 {
    width: 300px;
    margin: auto;
    border: 2px solid #f03b09cc;
  }
  .thanhphan {
    font-size: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  #khung-bao-ngoai .thucpham .thanhphan {
    border-left: 0px solid lightgray;
  }
  .row1,
  .row2,
  .row3 {
    height: 360px;
    border-bottom: 2px solid #f03b09cc;
    border-right: 2px solid #f03b09cc;
  }

  #mucluc {
    display: none;
  }
  #thongtin {
    width: 100%;
    margin: auto;
  }

  /* footer star */
  footer {
    margin: 0px;
    position: relative;
    width: 100%;
    height: 100%;
    background: #f03b09cc;
    display: inline-block;
    flex-direction: column;
    font-family: "roboto";
    padding: 20px 5px 20px 5px;
  }

  footer .container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }

  footer .container img {
    display: none;
    width: 200px;
    height: fit-content;
    position: relative;
    margin-right: 30px;
  }
  /* Thiết lập phần giới thiệu */
  footer .container .noi-dung {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-self: start;
  }
  footer .container .noi-dung .about {
    width: 100%;
    padding: 0;
    display: block;
    flex-direction: column;
    left: 10px;
  }
  /* Thiết lập phần đường dẫn */

  .links h2 {
    position: relative;
    color: #fff;
    font-weight: 500;
    margin-bottom: 15px;
  }
  .links h2::before {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50%;
    height: 2px;
    background: #f00;
  }
  .links {
    position: relative;
    width: 25%;
  }
  .links ul {
    display: inline;
    padding-top: 10px;
  }
  .links ul li {
    list-style: none;
    padding-top: 8px;
  }
  .links ul li a {
    color: black;
    text-decoration: none;
    margin-bottom: 10px;
  }
  .links ul li a:hover {
    color: #fff;
  }

  /* Thiết lập phần thông tin liên hệ */

  .contact h2 {
    position: relative;
    color: #fff;
    font-weight: 500;
    margin-bottom: 15px;
  }
  .contact h2::before {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50%;
    height: 2px;
    background: #f00;
  }
  .contact {
    width: 45%;
    margin-right: 0 !important;
  }
  .contact ul {
    display: inline;
  }
  .contact .info {
    position: relative;
  }
  .contact .info li {
    display: flex;
    margin-bottom: 16px;
  }
  .contact .info li span:nth-child(1) {
    color: #fff;
    font-size: 20px;
    margin-right: 10px;
  }
  .contact .info li span {
    color: black;
  }
  .contact .info li a {
    color: black;
    text-decoration: none;
  }
}

/* tablet */
@media only screen and (max-width: 1040px) and (min-width: 740px) {
  #header {
    width: 100%;
    background-color: #fff;
  }
  #header .name {
    width: auto;
  }
  #header #cum-logo {
    width: 70%;
    height: auto;
    left: 0rem;
    margin-left: 0%;
    font-size: 0.5rem;
  }
  #main-menu {
    display: none;
    flex-direction: column;
    position: relative;
    height: 100%;
    background-color: #fff;
  }
  #main-menu li {
    background-color: #fff;
  }
  #main-menu .sub-menu {
    top: 0rem;
    right: 11.5rem;
    color: #fff;
    z-index: 1;
  }
  #header-thugon {
    position: relative;
    width: 10rem;
    height: auto;
  }
  #header .icon {
    position: absolute;
    width: 4rem;
    height: 4rem;
    right: 0;
    top: 0;
  }
  #bar {
    display: inline-block;
    font-size: 1.5rem;
    padding: 0.5rem 0.5rem;
    color: #f03b09cc;
  }

  #intro-img {
    top: 3.8rem;
    text-align: center;
  }

  /* Header end */

  #mucluc {
    display: none;
  }
  #thongtin {
    width: 100%;
    margin: auto;
  }
  .row1,
  .row2,
  .row3 {
    height: 360px;
    border-bottom: 2px solid #f03b09cc;
    border-right: 2px solid #f03b09cc;
  }

  /* footer */
  footer {
    display: none;
    justify-content: left;
  }
  footer img {
    display: none;
  }

  #back {
    z-index: 100;
  }
}
